body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTabs-flexContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-btn-group {
  margin-right: 24rem;
}

.nav-btn {
  padding: 0 1.25rem;
  color: white;
  text-decoration: none;
  background-color: #2e1534;
}

.nav-btn:hover {
  color:  #04befe;
}

.auth-btn-group {
  width: 6rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  height: 2rem;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-right: 1rem;
}

.auth-btn-group:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.auth-btn-group {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.MuiTablePagination-toolbar {
  margin-right: 40rem;
  margin-bottom: 3rem;
}

.MuiDataGrid-root .MuiDataGrid-toolbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}